.catalog {
  padding: 50px 20px 28px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 40px 81px;
  }
}

.catalog__badge {
  margin: 0;
  margin-bottom: 5px;
}

.catalog__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;
  letter-spacing: normal;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 30px;
  }
}

.catalog__wrapper-right {
  display: flex;
  flex-direction: column;
}

.catalog__filter {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.catalog__sorting-select {
  margin-bottom: 19px;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-right: 5px;
    margin-bottom: 26px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    gap: 27px 30px;
  }
}

.catalog__item {
  padding: 37px 20px 20px;
  background-color: $base-white;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
  }
}

.catalog__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.catalog__item-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

.catalog__item-description {
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.catalog__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__item-price {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.catalog__item-button {
  font-size: 14px;
  line-height: 20px;
  padding-left: 45px;
  background-image: url("/images/icons/stack.svg#in-basket");
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position: 20px center;
}

.catalog__pagination {
  margin: 17px 0 16px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-top: 70px;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
  }
}
