.features {
  padding: 50px 20px 60px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 40px;
  }
}

.features__badge {
  margin: 0;
  margin-bottom: 4px;
}

.features__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: normal;
  margin: 0;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    text-align: start;
    gap: 50px 30px;
    padding: 58px 10px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    padding: 76px 0 20px;
    text-align: center;
  }
}

.features__item {
  padding-top: 98px;
  background-repeat: no-repeat;
  background-position: center 32px;
  background-size: 52px 56px;

  &--speed {
    background-image: url("/images/icons/stack.svg#features-speed");
  }

  &--fit {
    background-image: url("/images/icons/stack.svg#features-fit");
  }

  &--energy {
    background-image: url("/images/icons/stack.svg#features-energy");
  }

  &--eco {
    background-image: url("/images/icons/stack.svg#features-eco");
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 72px;
    background-position: left 2px;

    &--fit,
    &--energy {
      background-position: left 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 76px;
    padding-left: 0;
    background-position: center top;
  }
}

.features__item-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: normal;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.features__item-descriptoin {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
