.link {
  font-family: "Montserrat", "Arial", sans-serif;
  color: $base-black;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $base-primary;
  }

  &:active {
    background-color: $base-secondary;
  }
}
