.main-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.main-nav__list {
  text-decoration: none;
}

.main-nav__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #ffffff;
  border: none;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: #f0ebff;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/icons/stack.svg#menu-opened");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/images/icons/stack.svg#menu-closed");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list {
    display: none;
  }
}

.main-nav--opened .site-list {
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 2;
  width: 100%;
}
