.main-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px 1fr;
    grid-template-rows: auto;
    padding: 40px;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.main-footer__logo {
  @media (min-width: $desktop-width) {
    flex-direction: column;
    gap: 10px;
    margin-bottom: auto;
  }
}

.main-footer__logo img {
  @media (min-width: $tablet-width) {
    width: 170px;
  }
}

.main-footer__logo span {
  @media (min-width: $desktop-width) {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}

.main-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main-footer__title {
  font-weight: 700;
  letter-spacing: 0.28px;
  color: $base-primary;
  padding: 20px 20px 10px;
  border-bottom: 1px solid $base-secondary;

  &--contacts {
    padding-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 9px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.main-footer__sub-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 18px;
}

.main-footer__sub-item {
  padding-bottom: 16px;
}

.main-footer__link {
  padding: 8px 0;
}

.main-footer__address {
  color: $base-black;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: normal;
}

.main-footer__address-text {
  padding-left: 19px;
  background-image: url("/images/icons/stack.svg#address");
  background-repeat: no-repeat;
  background-size: 13px 16px;
  background-position: left top 2px;
  margin: 20px 0 16px;
}

.main-footer__address-phone {
  color: inherit;
  padding-left: 19px;
  text-decoration: none;
  background-image: url("/images/icons/stack.svg#phone");
  background-repeat: no-repeat;
  background-size: 13px 16px;
}

.main-footer__copyright {
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }
}

.copyright__link {
  display: flex;
  text-align: center;
  justify-content: center;
  text-transform: none;
  color: #bdbdbd;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  &:hover {
    color: $base-secondary;
    background-color: $base-white;
  }

  &:active {
    color: $base-primary;
  }
}

.copyright__text {
  margin-right: 3px;
}

.copyright__link svg {
  display: block;
  fill: currentColor;
}
