.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  margin: 0 0 0 20px;

  @media (min-width: $tablet-width) {
    min-height: 80px;
    margin: 0 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 40px;
  }
}

.main-header__logo {
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
  }
}
