.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  margin: 0 0 0 20px;

  @media (min-width: $tablet-width) {
    min-height: 80px;
  }
}
