.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 320px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 400px;
    min-height: 100%;
    align-items: center;
  }
}

.site-list__item {
  display: block;
  height: 100%;
}

.site-list__link {
  position: relative;
  display: block;
  padding: 22px;
  padding-bottom: 19px;
  background-color: $base-white;
  border-top: 1px solid $base-secondary;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    border: none;
    min-height: 100%;
    padding: 32px 20px;
  }
}

.site-list__link--current {
  @media (min-width: $tablet-width) {
    position: relative;
    color: $base-primary;
    border-bottom: 2px solid $base-primary;
  }
}
