.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 320px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 400px;
    min-height: 100%;
    align-items: center;
  }
}

.site-list__item {
  display: block;
}

.site-list__link {
  position: relative;
  display: block;
  padding: 20px;
  padding-bottom: 19px;
  background-color: $base-white;
  border-top: 1px solid $base-secondary;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    border: none;
    min-height: 100%;
  }
}

.site-list__link--current {
  position: relative;
  color: $base-primary;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -11px;
    height: 2px;
    width: 103px;
    background-color: $base-primary;
  }
}
