$bottom-offset: 200px;

.slider {
  position: relative;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  position: relative;
  min-height: 656px;
  display: none;
  background-color: #f3ebe1;
  padding: 20px;

  &--current {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  &--lavender {
    background-color: #eae6fc;
  }

  &--espresso {
    background-color: #e5e6e8;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    min-height: 640px;
    padding: 60px;
    padding-bottom: 268px;
    justify-content: start;
    margin-bottom: $bottom-offset;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    min-height: 714px;
    height: auto;
    padding-top: 30px;
    justify-content: center;
  }
}

.slider__image {
  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
  }
}

.slider__image-wrapper {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: calc(-1 * $bottom-offset);
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    bottom: 0;
    width: 600px;
    height: 600px;
  }
}

.slider__text-wrapper {
  text-align: center;
  width: 100%;

  @media (min-width: $desktop-width) {
    text-align: start;
    width: calc(100% - 600px);
  }
}

.slider__badge {
  margin: 0;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.slider__title {
  margin: 0;
  margin-top: 4px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 1.12px;
  }
}

.slider__description {
  margin: 0;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 16px;
  }
}

.slider__action-block {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
  word-break: break-word;

  @media (min-width: $desktop-width) {
    justify-content: start;
  }
}

.slider__price {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  padding-right: 20px;

  &--old {
    font-size: 16px;
    font-weight: 400;
    color: $base-primary;
    text-decoration: line-through;
    padding-right: 6px;
  }
}

.slider__button {
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
    transform: scale(-1);
  }

  &:hover {
    background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &:disabled {
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: calc(100% + $bottom-offset);
  }
}

.slider__button svg {
  fill: $base-primary;
}

.slider__button:disabled svg {
  fill: $base-grey;
}

.slider__break {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.slider__pagination {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    bottom: 60px;
    left: 45%;
  }
}

.slider__pagination-item {
  margin: 0 8px;
}

.slider__pagination-button {
  display: flex;
  padding: 20px 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--current {
    pointer-events: none;
  }
}

.slider__pagination-button span {
  width: 62px;
  height: 4px;
  background-color: $base-white;
}

.slider__pagination-button--current span {
  background-color: $base-primary;
}
