.user-list {
  position: relative;
  display: flex;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 120px;

  span {
    position: absolute;
    opacity: 0;
  }

  @media (min-width: $desktop-width) {
    width: 250px;
    gap: 20px;

    span {
      position: static;
      opacity: 1;
    }
  }
}

.user-list__link {
  display: flex;
  padding: 22px;
  gap: 8px;

  @media (min-width: $desktop-width) {
    padding: 20px;
  }
}
